INST "Clock_BUFGP" LOC = BUFGMUX_X1Y11;
NET "Clock" LOC = C9;
NET "Reset2" LOC = L13;
NET "Reset2" IOSTANDARD = LVTTL;
NET "Reset2" PULLDOWN;

NET "oRGB<2>" LOC = "H14" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "oRGB<1>" LOC = "H15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "oRGB<0>" LOC = "G15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "oHs" LOC = "F15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "oVs" LOC = "F14" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;

NET "iPS2D" LOC = "M15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET "iPS2CLK" LOC = "M16" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;